{% extends "layout.html" %}

{% block title %}
    {{ chatChannel[0].channelname }} Channel
{% endblock %}

{% block body %}
    <h1>{{ chatChannel[0].channelname }} Channel</h1>
    <form data-channel="{{ chatChannel[0].channelname }}" class="dopeForm" id="chatForm" action="" method="">
      <div class="input-group">
      <input placeholder="Enter new chat" type="text" id="chat-text" class="form-control form-control-lg" required="">
      <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" value="Send">Send</button>
      </span>
    </div>
    </form>
    <ul id="chats">
         {% for chats in chatChannel[0].chats %}
          <li>
           On <span class="timestamp">{{chats.timestamp}}</span> <span class="username">{{ chats.username }} </span> wrote <span class="message">{{ chats.message }} </span>
          </li>




        {% endfor %}
    </ul>

{% endblock %}

